[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TopKSignal"]
	path = TopKSignal
	url = https://github.com/pievos101/topksignal
